/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import "tailwindcss/base";
@import "tailwindcss/components";
/* @import "./base.css"; */
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Baskervville&family=Montserrat+Alternates:wght@300;400&family=Noto+Sans&display=swap");
/* 
    font-family: 'Baskervville', serif;

    font-family: 'Montserrat Alternates', sans-serif;

    font-family: 'Noto Sans', sans-serif;
*/
:root {
  --fc-button-bg-color: #8c7090;
  --fc-button-border-color: #8c7090;
  --fc-button-hover-bg-color: #af9ab1;
  --fc-button-hover-border-color: #af9ab1;
  --fc-button-active-bg-color: #af9ab1;
  --fc-button-active-border-color: #8c7090;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
h1 {
  font-family: "Montserrat lternates", "Baskervville", "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 72px;
}
.homeSplash h2 {
  font-family: "Baskervville", serif;
  font-size: 60px;
  text-shadow: 3px 3px 5px black;
}
/* .home {
  
  text-align: center;
} */
.home h1 {
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
}
.home h2 {
  font-family: "Baskervville", serif;
  text-align: center;
}
.about {
  text-shadow: 3px 3px 3px rgb(0, 0, 0);
}
.link p {
  font-family: "Noto Sans", sans-serif;
}
.navLink p {
  display: none;
}
.navLink:hover p {
  display: block;
}
#extra {
  padding: 3%;
  font-family: "Noto Sans", sans-serif;
  font-size: 1.8rem;
}
.projectTile h2 {
  font-family: "Baskervville", serif;
  /* font-size: 4rem; */
}

.projectTile p {
  font-family: "Noto Sans", sans-serif;
}

label {
  color: black;
}
.serif {
  font-family: "Baskervville", serif;
}
.mapContainer {
  width: 70vw;
  height: 50vh;
  border-radius: 15px;
  margin-bottom: 5vh;
}
.map-form {
  width: 40vw;
  height: 40vh;
  border-radius: 15px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    /* background: black; */
  }
}
@media screen and (min-width: 768px) {
  .map-container {
    width: 75vw;
    height: 45vh;
  }
}
@media screen and (min-width: 1024px) {
  .map-container {
    width: 86vw;
    height: 65vh;
  }
}
