@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Baskervville&family=Montserrat+Alternates:ital,wght@0,300;1,200&family=Noto+Sans&display=swap");
/* 
    font-family: 'Baskervville', serif;

    font-family: 'Montserrat Alternates', sans-serif;

    font-family: 'Noto Sans', sans-serif;
*/
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
h1 {
  font-family: "Baskervville", serif;
  font-size: 72px;
  text-shadow: 3px 3px 5px black;
}
.homeSplash h2 {
  font-family: "Baskervville", serif;
  font-size: 60px;
  text-shadow: 3px 3px 5px black;
}
.home {
  font-family: "Montserrat Alternates", sans-serif;
  text-shadow: none;
  text-align: center;
}
.link p {
  font-family: "Noto Sans", sans-serif;
}
.navLink p {
  display: none;
}
.navLink:hover p {
  display: block;
}
#extra {
  padding: 3%;
  font-family: "Noto Sans", sans-serif;
  font-size: 1.8rem;
}
h2 {
  font-family: "Montserrat Alternates", sans-serif;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    /* background: black; */
  }
}
